In [91]:
import matplotlib.pyplot as plt
from google.colab import drive
import pandas as pd
from datetime import datetime
import numpy as np

In [ ]:
drive.mount('/content/gdrive')

In [94]:
artData = pd.read_csv("/content/gdrive/MyDrive/artData.csv")

In [95]:
artData.head()

                        UID  category  ...   longitude              endTime
0  5aa90765c6355e63fc0cf750        16  ...         NaN                  NaN
1  5b3dd544aaa378d7ca9a2e9a         6  ...  120.666060  2028/12/31 17:00:00
2  5b3dd544aaa378d7ca9a2e9a         4  ...  120.666060  2021/12/07 17:00:00
3  5c7e1bcdaaa375d860933d3a         6  ...  120.666184  2024/03/05 17:00:00
4  5c7e1bcdaaa375d860933d3a         4  ...  120.666184  2024/03/05 17:00:00

[5 rows x 12 columns]

### **Data Cleaning**

In [74]:
artData = artData[artData["startDate"] != "2112/01/29"].reset_index(drop = True)

### **Feature Transformation**

In [75]:
yearArry = []
for i in range(len(artData)):
  if artData["startDate"][i].split("/")[0] in ["2019", "2020", "2021"]:
    yearArry.append("Past")
  else:
    yearArry.append("Future")
artData["YearType"] = yearArry

In [ ]:
for i in range(len(artData)):
  artData["startDate"][i] = datetime.strptime(artData["startDate"][i], "%Y/%m/%d")
for i in range(len(artData)):
  artData["endDate"][i] = datetime.strptime(artData["endDate"][i], "%Y/%m/%d")

In [77]:
period = []
for i in range(len(artData)):
  period.append((artData["endDate"][i] - artData["startDate"][i]).days)
artData["Period"] = period

In [78]:
# 篩選出有重複類別資料
dfUIDcount = artData[["UID"]].groupby("UID", as_index = False).size()
dfMultipleUID = dfUIDcount[dfUIDcount["size"] > 1]
dfFilter = artData[artData["UID"].isin(dfMultipleUID["UID"])].reset_index()

In [ ]:
# 重複類別欄位整理
combCat = []
for i in range(len(dfFilter)-1):
  if dfFilter["UID"][i] == dfFilter["UID"][i+1]:
    combCat.append(str(dfFilter["category"][i]) + "," + str(dfFilter["category"][i+1]))
  elif dfFilter["UID"][i] != dfFilter["UID"][i+1]:
    combCat.append("")
combCat.append("")
dfFilter["combCat"] = combCat
for i in range(len(dfFilter)):
  if dfFilter["combCat"][i] == "":
    dfFilter["combCat"][i] = dfFilter["combCat"][i-1]

In [80]:
dfFilter[["combCat"]].groupby("combCat", as_index = False).size() # 觀察各類別組合數量

   combCat  size
0    1,200     2
1      1,4     4
2   14,200     1
3   15,200     4
4     15,4     8
5   19,200    10
6     19,4     6
7    2,200     1
8      2,4     4
9    200,4    14
10     3,4     4
11   6,200     2
12     6,4    22
13   7,200    15
14     7,4     2

In [81]:
dfFilter[["combCat", "hitRate"]].groupby("combCat", as_index = False).mean("hitRate") # 各類別組合平均點擊率

   combCat      hitRate
0    1,200     1.000000
1      1,4   203.500000
2   14,200    12.000000
3   15,200     3.500000
4     15,4     5.500000
5   19,200    23.200000
6     19,4  1318.333333
7    2,200     9.000000
8      2,4    87.500000
9    200,4     8.000000
10     3,4     1.500000
11   6,200    11.500000
12     6,4  1981.636364
13   7,200     4.000000
14     7,4   108.000000